*{
	box-sizing: border-box;
	max-width: 100%;
}

body{
    font-family: 'Caprasimo', serif !important;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #29281e;
    background-color: white;
}

h1 h2 h3 h4 h5 h6 li p a{
	font-family: 'Caprasimo', serif !important;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 400 !important;
    color: #1f1d0d;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.2;
}

.backstop{
    right: 15px;
  z-index: 999;
  bottom: 80px;
  display: none;
  position: fixed;
}

.backstop .scroll{
    z-index: 1;
    width: 40px;
  height: 40px;
  display: flex;
  font-size: 14px;
  position: relative;
  align-items: center;
  border-radius: 100%;
  color: #000;
  justify-content: center;
  background-color: #fff;
  box-shadow: 0 10px 33.25px 1.75px rgba(0,0,0,.15);
}

.fa-arrow-up{
    content: "\f062";
}

@media (min-width: 1200px){
    h2{
        font-size: 2rem;
    }
}

.site-header{
	top: 0;
	left: 0;
	right: 0;
    z-index: 99;
	padding: 44px 0;
	position: absolute;
	transition: padding .3s;
}

.sticky{
    padding: 10px 0;
  position: fixed;
  background-color: rgba(255,255,255,.96);
  backdrop-filter: saturate(180%) blur(20px);
  box-shadow: 0 2px 6px 0 rgba(16,18,19,.08);
  transition: background-color .3s ease-in,padding .3s;
}

.container{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
    padding-right: 15px;
}

.container .site-header{
	max-width: 1430px;
}

.row-header{
	margin: -15px;
	align-items: center;
	display: flex;
	flex-wrap: wrap;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

.col-1-header{
	position: relative;
	flex: unset;
	padding: 15px;
	width: 25%;
}

.site-logo a{
	font-family: Barlow,sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #1f1d0d;
    line-height: 42px;
}

a{
    outline: 0;
    text-decoration: none;
    color: #0d6efd;
    display: inline-block;
	transition: .4s cubic-bezier(.25,1,.5,1);
}

a:active{
	outline: 0;
    text-decoration: none;
}

a:hover{
    color: #0a58ca;
}

.site-link{
	display: flex;
}

/*.site-link img{
    padding-left: 55px;
}*/

img{
	border: none;
	user-select: none;
    vertical-align: middle;
}

.site-logo img{
	height: 75px;
    max-height: 75px;
    margin-right: 10px;
}

.col-2-header{
	flex: unset;
    padding: 15px;
    width: 50%;
}

.main-nav-bar{
	padding: 0;
	flex-wrap: nowrap;
    justify-content: flex-start;
    position: relative;
    display: flex;
    align-items: center;
}

.main-inner-menu{
	display: flex !important;
    flex-basis: auto;
    justify-content: center !important;
    flex-grow: 1;
    align-items: center;
}

.main-menu-list{
	justify-content: center;
	margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.main-menu-list > li{
	margin: 0 1px;
    line-height: 1;
    font-size: 16px;
    float: left;
    list-style: none;
}

.main-menu-list > li > a{
    font-size: 16px;
    font-weight: 400;
    z-index: 1;
    line-height: 23px;
    align-items: center;
    display: inline-flex;
    padding: 9px 20px 8px;
    border-radius: 8px;
    color: #000;
}

.main-menu-list > li:hover > a::after{
    transform: rotateX(-180deg);;
}

.main-menu-list > li.dropdown-active > a, .main-menu-list > li:hover > a{
    color: #000;
    background-color: #f6f6f600;
}

.dropdown-active{
	position: relative;
}

.nav-link{
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    text-decoration: none;
}

.main-menu-list .dropdown-active > a::after{
    display: flex;
	float: right;
    line-height: 1;
    font-size: 14px;
    content: "\f107";
    font-weight: 400;
    margin-top: 2px;
    margin-left: 5px;
    transition: .4s cubic-bezier(.25,1,.5,1);
}

.main-menu-list .dropdown-menu::before{
    top: -4px;
    height: 2px;
}

.dropdown-menu::before{
	left: 0;
    right: 0;
    content: "";
    display: block;
    position: absolute;
}

.main-menu-list .dropdown-menu.show{
    display: block;
}

.main-menu-list .dropdown-menu{
	display: none;
    margin: 2px 0 0;
    padding: 14px 0;
    animation: unset;
    min-width: 210px;
    inset: 100% auto auto auto;
    border-radius: 8px;
    border: 2px solid #26b68b;
    box-shadow: -6px 6px 0 0 #26b68b;
}

.dropdown-menu{
	background-color: white;
	position: absolute;
	z-index: 1000;
	font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
}

.main-menu-list .dropdown-menu > li:not(:last-child){
    margin-bottom: 1px;
}

.dropdown{
    position: relative;
}

.main-menu-list .dropdown-menu .dropdown > a::after{
    margin-top: 1px;
    content: "\f105";
}

.main-menu-list .dropdown > a{
    position: relative  ;
}

.main-menu-list .dropdown > a::after{
    float: right;
    line-height: 1;
    font-size: 14px;
    font-weight: 400;
    margin-left: 5px;
    transition: .4s cubic-bezier(.25,1,.5,1);
}

.main-menu-list .dropdown-menu > li > a::before {
    top: 19px;
    left: 20px;
    width: 4px;
    height: 4px;
    content: "";
    opacity: .7;
    position: absolute;
    border-radius: 100%;
    background-color: #1f1d0d;
}

.main-menu-list .dropdown-menu > li > a{
    display: block;
    line-height: 1;
    font-size: 16px;
    font-weight: 500;
    color: #29281e;
    position: relative;
    white-space: nowrap;
    transition: .4s cubic-bezier(.25,1,.5,1);
    padding: 14px 30px 12px 32px;
}

.main-menu-list .dropdown-menu .dropdown{
    top: 0;
    margin: 0;
    left: 100%;
}

.col-3-header{
    flex: unset;
    padding: 15px;
    width: 25%;
}

.header-button-group{
    justify-content: flex-end;
    margin: 0; 
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.header-button-group > li{
    margin-left: 14px;
    float: left;
    list-style: none;
}

.button-border{
    color: #26b68b;
    border-color: #26b68b;
    border-radius: 50px;
    line-height: 1;
    overflow: hidden;
    position: relative;
    transition: .4s cubic-bezier(.25,1,.5,1);
    border: 2px solid #26b68b;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    font-size: 1rem;
}

.button-border:hover{
    background-color: #26b68b;
    color: white;
}

.header-button-group .button-border{
    padding: 5px 40px;
}

.button-border span{
    position: relative;
    display: inline-block;
    transition: .4s cubic-bezier(.25,1,.5,1);
}

.button-border span small{
    font-weight: 400;
    font-size: 16px;
    padding: 0px 0 !important;
    display: block;
    line-height: 24px;
    transition: .4s cubic-bezier(.25,1,.5,1);
}

main{
    padding-top: 130px;
}

.hero-banner.style-1{
    margin-bottom: 59px;
}

.hero-banner.style-1 .container{
    max-width: 1430px;
}

.hero-banner.style-1 .content-wrap{
    padding: 30px 0;
    background-color: #fff;
    border-radius: 0px;
}

.row{
    margin: -15px;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
}

.ban-our{
    display: flex;
    align-items: center;
}

.col{
    flex: unset;
    padding: 15px;
}

.col-lg-7{
    width: 58.33333333%;
}

.row > *{
    max-width: 100%;
    margin-top: var(--bs-gutter-y);
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
}

.hero-banner .banner-h1{
    font-size: 55px;
    line-height: 65px;
    color: #000;
    font-weight: 400;
    margin-bottom: 20px;
}

.hero-banner.style-1 .banner-p{
    padding-right: 190px;
}

.hero-banner .banner-p{
    font-size: 16px;
    line-height: 30px;
    color: #000;
    margin-bottom: 40px;
    font-weight: 400;
    font-style: italic;
}

p{
    margin-top: 0;
    margin-bottom: 1rem;
}

.hero-banner .banner-button-group{
    margin: -20px;
}

.unorder-list{
    justify-content: flex-start;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.hero-banner .banner-button-group > li{
    padding: 20px;
}

.unorder-list > li{
    float: left;
    list-style: none;
}

.btn-primary{
    color: #ffffff;
    border-color: #26b68b;
    background-color: #26b68b;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 40px;
    text-decoration: none;
}

.btn{
    line-height: 1;
    overflow: hidden;
    position: relative;
    transition: .4s cubic-bezier(.25,1,.5,1);
    border: 2px solid transparent;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
}

.text-white{
    color: #fff !important;
}

.col-lg-5{
    width: 41.66666667%;
}

.banner-img-1{
    z-index: 1;
    position: relative;
    margin: 0;
    text-align: right;
}

.banner-img-1 .image-wrap{
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

img:not([draggable]){
  height: auto;
  max-width: 100%;
}

.ai-row{
    display: flex;
    align-items: center;
}

@media(min-width: 1200px){
h3{
    font-size: 1.75rem;
}
}

.Courses-info .container{
    max-width: 1200px;
}

.align-row-items{
    align-items: center;
}

.col-lg-6{
    width: 50%;
}

.image-box{
    box-shadow:  -20px 20px 0 0 #26b68b;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
}

.ps-lg-3{
    padding-left: 1rem !important;
}

.section-heading{
    margin-bottom: 40px;
}

.section-heading .heading-text{
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 24px;
}

.section-heading .heading-description{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.unorder-list-block{
    margin: 0;
    padding: 0;
    display: block;
}

.info-list.unorder-list-block > li:not(:last-child){
    margin-bottom: 12px;
}

.unorder-list-block > li{
    display: block;
    list-style: none;
}

.fa-square::before{
    content: "\f0c8";
}

.info-list i{
    color: #26b68b;
    float: left;
    font-size: 12px;
    margin: 5px 10px 0 0;
    text-shadow: 2px 2px 0 #1f1d0d;
}

.fa-solid{
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    font-weight: 900;
}

.info-list span{
    display: table;
}

.button-wrap{
    padding: 44px 0;
}

.pb-0{
    padding-bottom: 0 !important;
}

.btn-dark{
    color: #fff;
    border-color: #26b68b;
    background-color: #26b68b;
    border-radius: 50px;
}

.btn{
    line-height: 1;
    overflow: hidden;
    position: relative;
    transition: .4s cubic-bezier(.25,1,.5,1);
    border: 2px solid transparent;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    font-size: 1rem;
    user-select: none;
}

.button-wrap .btn{
   padding: 0 40px;
}

.btn span{
    position: relative;
    display: inline-block;
    transition: .4s cubic-bezier(.25,1,.5,1);
}

.btn span small{
    font-weight: 400;
    font-size: 16px;
    padding: 0px 0 !important;
    display: block;
    line-height: 24px;
    transition: .4s cubic-bezier(.25,1,.5,1);
}

.micro-learning{
    background: #f5f5f5;
    padding: 50px 0;
    margin: 40px 0 0;
}

.micro-learning .container{
    max-width: 1200px;
}

.micro-learning .row{
    margin: 55px 0;
}

@media (min-width: 768px){
    .col-md-6{
    flex: 0 0 auto;
    width: 50%;
}
}

ul{
    margin-top: 0;
    margin-bottom: 1rem;
    padding-left: 2rem;
}

.advertisement-secion{
    margin: 0px 0;
    padding: 70px 0;
}

.bg-dark{
    background-color: #1f1d0d;
}

.advertisement-secion .container{
    max-width: 1200px;
}

.advertisement-secion .section-heading{
    padding-right: 70px;
}

.mb-lg-0{
    margin-bottom: 0 !important;
}

.mb-0{
    margin-bottom: 0 !important;
}

.decoration-wrap{
    z-index: 1;
    position: relative;
}

.advertisement-secion .images-group .col:nth-child(1){
    margin-bottom: -45px;
}

.advertisement-secion .images-group .col:nth-child(2){
    margin-top: -45px;
}

.advertisement-secion .images-group .image-wrap{
    overflow: hidden;
    border-radius: 8px;
}

.advertisement-secion .images-group .shape-img-1{
    left: -106px;
    bottom: 83px;
    max-width: 270px;
}

.decoration-wrap .deco-item{
    z-index: -1;
    position: absolute;
}

.advertisement-secion .images-group .shape-img-2{
    top: 73px;
    right: -138px;
    max-width: 102px;
}

.section-space-lg{
    padding-top: 120px;
    padding-bottom: 120px;
}

.expect-from-coures .container{
    max-width: 1200px;
}

.service-item{
    border-radius: 8px;
    position: relative;
    padding: 30px 40px 40px;
    transition: .4s cubic-bezier(.25,1,.5,1);
    background-color: #fff;
    border: 2px solid #f6f6f6;
    box-shadow: 0 1px 1px 0 rgba(31,29,13,.2);
}

.service-item:hover{
    z-index: 1;
  border-color: #1f1d0d;
  background-color: #26b68b;
  box-shadow: 0 20px 30px 0 rgba(31,29,13,.1);
}

.service-item .item-icon{
    width: 66px;
  height: 66px;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  border-radius: 100%;
  justify-content: center;
  transition: .4s cubic-bezier(.25,1,.5,1);
  border: 2px solid transparent;
  background-color: #fff;
}

.service-item .item-title{
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 11px;
}

.service-item p{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 20px;
}

.bg-light{
    background-color: #f6f6f6;
}

.pricing-section .container{
    max-width: 1200px;
}

.text-center{
    text-align: center !important;
}

.pricing-cards-wrapper{
    margin: 0;
    text-align: center;
}

.pricing-cards-wrapper > .col{
    padding: 10px;
}

@media (min-width: 992px)
{
   .col-lg-4{
    width: 33.33333333%;
   }
}

.pricing-section .shape-img-1{
    top: 0;
    right: -32px;
    max-width: 64px;
}

.pricing-section .shape-img-2{
    bottom: 15px;
    left: -100px;
    max-width: 173px;
}

.outcomes .container{
    max-width: 1200px;
}

h5{
    font-size: 1.25rem;
}

.newsletter{
    background-image: linear-gradient(0deg,#1f1d0d 120px,transparent 0);
}

.newsletter .container{
    max-width: 1200px;
}

.newsletter-box{
    background-color: #26b68b;
    background-position: center center;
    box-shadow: 20px 20px 0 0 #fdd9ef;
    z-index: 1;
    position: relative;
    padding: 110px 30px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 8px;
}

.justify-content-center{
    justify-content: center !important;
}

.form-item{
    position: relative;
}

.m-0{
    margin: 0 !important;
}

.newsletter-box ::placeholder{
    color: #444;
}

.form-item input{
    height: 60px;
    padding: 0 20px;
    width: 100%;
  outline: 0;
  display: block;
  box-shadow: none;
  transition: .4s cubic-bezier(.25,1,.5,1);
  border-radius: 8px;
  border: 2px solid #d2d2d2;
}

input{
    margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

[type="submit"]:not(:disabled), button:not(:disabled){
    cursor: pointer;
}

[type="submit"], button{
    -webkit-appearance:button;
}

button{
    outline: 0;
    background: 0 0;
    text-transform: none;
    margin: 0;
    font-family: inherit;
}

.btn-dark:hover{
    color: #fff;
}

.btn:hover{
    z-index: 1;
    transform: translateY(-4px);
    box-shadow: 0 8px 24px 0 rgba(16,18,19,.4);
}

.site-footer{
    color: #c8c8c8;
    background-color: #1f1d0d;
}

.site-footer .footer-widget-area{
    padding: 130px 0 108px;
}

.site-footer .container{
    max-width: 1200px;
}

.col-lg-3{
    width: 25%;
}

.site-footer .site-logo{
    margin-bottom: 35px;
}

.site-footer p{
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 15px;
    color: #fff;
}

.social-links{
    margin: -6px;
}

.social-links > li{
    padding: 6px;
}

.social-links a::after{
    background-color: #26b68b;
}

.social-links a:hover::after{
    transform: scale(.8);
}

.social-links a::after, .social-links a::before{
    top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  z-index: -1;
  position: absolute;
  border-radius: 100%;
  transition: .4s cubic-bezier(.25,1,.5,1);
}

.social-links a:hover::before{
    transform: scale(1.1);
}

.social-links a::before{
    border: 2px solid #26b68b;
}

.social-links a{
    z-index: 1;
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.fa-facebook-f::before{
    content: "\f39e";
}

.social-links a i{
    color: #1f1d0d;
    transition: .4s cubic-bezier(.25,1,.5,1);
}

.fab{
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.page-list.unorder-list-block > li:not(:last-child){
    margin-bottom: 10px;
}

.site-footer .page-list a{
    color: #fff;
}

.site-footer .page-list a:hover{
    color: #f7ff62;
}

.page-list .item-icon{
    margin-right: 10px;
    color: #26b68b;
}

.copyright-widget .container{
    max-width: 1200px;
}

.copyright-widget .copyright-text{
    padding: 40px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  border-top: 1px solid #444;
}